@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  Custom CSS
*/

.dataTables_filter,
.pagination {
  display: flex;
  justify-content: flex-end;
}

.dataTables_length select {
  margin: 0 !important;
}

.page-link,
.sorting,
.sorting_desc,
.sorting_asc {
  cursor: pointer;
}

main {
  min-height: calc(100vh - 120px);
}

@media screen and (max-width: 767px) {
  .dataTables_length label,
  .dataTables_filter label {
    width: 100%;
  }
}
